/* Main Elements*/

header {
    color: white;
    background-color: #6A5ACD; /*slateblue*/
    text-decoration: underline;
    text-align: center;
    display:block;
}

body {
    background-color: lightcyan; 
}

main {
    background-color: white;
    padding: 16px;
    border-left: #AFEEEE solid 2px;
    border-right:#AFEEEE solid 2px;
}

/*Classes*/

.post {
    margin-bottom: 50px;
    padding: 5px;
}

.post .user-info img {
    border-radius: 65%;
}

.photo {
    border: #483D8B solid 2px;
}
        
.postBreak {
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    
}


/*IDs*/

#loginUsernameTitle {
       display:inline-block;
       float: left;
       padding-left: 20px;
       font-size: 18px;
}

#pageTitle {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0px;
}


/* Psuedo Classes*/

a:hover {
    color:purple;
    text-decoration: blink;
}

a:active {
    color: maroon;
} 
    
a:visited {
    color:black;
    font-weight: bold;
}