        <!--CHeck if current_user exists -->
<%if current_user %>

        <!-- Check is current_user already has a like for a given post -->
    <%if like = current_user.likes.find_by({ post_id: post.id }) %>
    
    
            <!--display a form to delete that like th user already has, _method is a hack to send delete request from form -->
        <form action="/likes/ <%= like.id %>" method="POST">
            <input name="_method" type="hidden" value="delete"> 
            <button class="button user-like" type="submit">
                <%= post.like_counts %> likes
            </button>
        </form>
            
    <% else %>
            
<form action="likes" method = "POST">
    <input type="hidden" name="post_id" value ="<%=post.id%>">
    <button class="button" type="submit">
        <%= post.like_counts %> likes
    </button>
    
</form>

    <% end %>
<%end%>